*

!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!LICENSE
!README.md

!g1/
!src/
!src/**/
!include/
!include/**/
!scripts/
!scripts/**/
!policy/
!policy/**/
!reference/
!reference/**/
!thirdparty/
!thirdparty/**/

!*.md
!*.svg
!*.png
!*.lock
!*.sh
!*.c
!*.h
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cpp
!*.hpp
!*.cu
!*.cuh
!*.onnx
!*.py
!*.txt
!*.pkl
!*.csv
!*.yaml
!*.inl
!*.cmake
!*.in
!*.a
!*.so
!*.so.*
!*.json
!*.idl
!*.wav
!*.seq
!*.yml
!*.yaml
!Dockerfile*
!*.onnx
!*.xml

# Ignore GitHub workflows and CI/CD files
.github/
